<header id="header" class="header hidden-print" tabindex="0">
  <mat-grid-list cols="4" rowHeight="4:1">
      <mat-grid-tile>
          <div class="logoteam">
              <div class="pull-left logoteam-img">
                <a href="https://teamdigitale.governo.it">
                  <img src="assets/images/loghi/dt-logo.svg" alt="TeamDigitale Logo">
                </a>
              </div>
              <div class="logoteam-string">
                <a href="https://teamdigitale.governo.it">Team per la Trasformazione<br/>Digitale</a>
              </div>
            </div>    
      </mat-grid-tile>
      <mat-grid-tile>
          <div class="logogov">
              <div class="pull-left logogov-img">
                <a href="http://www.governo.it" target="_blank">
                  <img src="assets/images/loghi/governo.svg" alt="Italian Government">
                </a>
              </div>
              <div class="logogov-string">
                <a href="http://www.governo.it" target="_blank">Presidenza del Consiglio dei Ministri</a>
              </div>
            </div>    
      </mat-grid-tile>
      <mat-grid-tile>
          <div class="logogov">
              <div class="pull-left logogov-img">
                <a href="http://www.funzionepubblica.gov.it/" target="_blank">
                  <img src="assets/images/loghi/governo.svg" alt="Italian Government">
                </a>
              </div>
              <div class="logogov-string">
                <a href="http://www.funzionepubblica.gov.it/" target="_blank">Dipartimento per la Funzione Pubblica</a>
              </div>
            </div>    
      </mat-grid-tile>
      <mat-grid-tile>
          <a href="http://www.agid.gov.it/" target="_blank">
            <img src="assets/images/loghi/agid-logo-bb.svg" alt="Agid Logo" style="width: 100%; max-width:300px; height: auto; display:block;">
          </a>  
      </mat-grid-tile>
  </mat-grid-list>
  <div style="color:whitesmoke;font-size:18px;text-align: center">Contributo OpenSource al progetto FatturaPA - Creazione gratuita fatture elettroniche</div>
</header>