<form>
  <mat-form-field style="width:400px">
    <input matInput [(ngModel)]="data.indirizzo" name="indirizzo" placeholder="Indirizzo">
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="data.numeroCivico" name="numeroCivico" placeholder="Civico">
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="data.cap" name="cap" placeholder="CAP">
  </mat-form-field>

  <mat-divider class="mat-input-divider"></mat-divider>

  <mat-form-field>
    <input matInput [(ngModel)]="data.comune" name="comune" placeholder="Comune">
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Provincia Albo" name="provincia" [(ngModel)]="data.provincia">
      <mat-option [value]="null"></mat-option>
      <mat-option *ngFor="let provincia of provincie" [value]="provincia.sigla">{{ provincia.nome }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-divider class="mat-input-divider"></mat-divider>

  <mat-form-field>
    <input matInput [(ngModel)]="data.nazione" name="nazione" placeholder="Nazione">
  </mat-form-field>

</form>
