<form>
    <div class="form-row">
      <div class="form-group col-md-8">
        <label for="mx-editor-indirizzo">Indirizzo</label>
        <input id="mx-editor-indirizzo" 
          name="indirizzo"
          [(ngModel)]="data.indirizzo"
          type="text" class="form-control" placeholder="Indirizzo">
      </div>
      <div class="form-group col-md-2">
        <label for="mx-editor-civico">Civico</label>
        <input id="mx-editor-civico"
          name="civico"
          [(ngModel)]="data.numeroCivico"      
          type="text" class="form-control" placeholder="Civico">
      </div>
      <div class="form-group col-md-2">
        <label for="mx-editor-cap">CAP</label>
        <input id="mx-editor-cap"
          name="cap"
          [(ngModel)]="data.cap"            
          type="text" class="form-control" placeholder="CAP">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="mx-editor-comune">Comune</label>
        <input id="mx-editor-comune"
          name="comune"
          [(ngModel)]="data.comune"
          type="text" class="form-control" placeholder="Comune">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="mx-editor-provincia">Provincia</label>
        <select  id="mx-editor-provincia"
          name="provincia"
          [(ngModel)]="data.provincia"      
          class="form-control">
          <option [value]="null">
            <option *ngFor="let provincia of provincie" [value]="provincia.sigla">
              {{ provincia.nome }}
            </option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="mx-editor-nazione">Nazione</label>
        <input id="mx-editor-nazione"
          name="nazione"
          [(ngModel)]="data.nazione"            
          type="text" class="form-control" placeholder="Nazione">
      </div>
    </div>
  </form>