<div class="mx-editor">
  <mat-tab-group>
    <mat-tab label="Intestazione">
      <div>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Dati trasmissione
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mx-editor-dati-trasmissione [data]="datiTrasmissione"></mx-editor-dati-trasmissione>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Cedente prestatore
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mx-editor-cedente-prestatore [data]="datiCedente"></mx-editor-cedente-prestatore>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Rappresentante fiscale
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mx-editor-rappresentante-fiscale [data]="datiRappresentanteFiscale"></mx-editor-rappresentante-fiscale>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Cessionario committente
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mx-editor-cessionario-committente [data]="datiCessionario"></mx-editor-cessionario-committente>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Terzo intermediario
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mx-editor-terzo-intermediario [data]="datiTerzoIntermediario"></mx-editor-terzo-intermediario>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>

              <mat-panel-title>
                Soggetto emittente
              </mat-panel-title>
            </mat-expansion-panel-header>
            <form>
              <mat-form-field>
                <mat-select placeholder="Soggetto emittente" name="soggettoEmittente" [(ngModel)]="soggettoEmittente">
                  <mat-option [value]="null"></mat-option>
                  <mat-option value="CC">Cessionario/Committente</mat-option>
                  <mat-option value="TZ">Soggetto Terzo</mat-option>
                </mat-select>
              </mat-form-field>
            </form>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </mat-tab>
    <mat-tab label="Corpo">
      <mat-toolbar>
        <mat-toolbar-row>
          <span>Elenco documenti</span>
          <span style="flex: 1 1 auto;"></span>
          <mat-icon style="cursor: pointer;" fontSet="fa" fontIcon="fa-plus"></mat-icon>
        </mat-toolbar-row>
      </mat-toolbar>
    </mat-tab>
    <mat-tab label="XML">
      WIP
    </mat-tab>
    <mat-tab label="Errori">
      WIP
    </mat-tab>
    <mat-tab label="Versione">
      WIP
    </mat-tab>
  </mat-tab-group>
</div>
