<div class="mx-editor">
  <ngb-tabset #editorTabs="ngbTabset">
    <ngb-tab title="Intestazione" id="intestazione">
      <ng-template ngbTabContent>
        <ngb-accordion [closeOthers]="true" activeIds="ngb-panel-0">
          <ngb-panel id="ngb-panel-0" title="Dati trasmissione">
            <ng-template ngbPanelContent>
              <mx-editor-dati-trasmissione [data]="datiTrasmissione"></mx-editor-dati-trasmissione>
            </ng-template>
          </ngb-panel>
          <ngb-panel title="Cedente prestatore">
            <ng-template ngbPanelContent>
              <mx-editor-cedente-prestatore [data]="datiCedente"></mx-editor-cedente-prestatore>
            </ng-template>
          </ngb-panel>
          <ngb-panel title="Rappresentante fiscale">
            <ng-template ngbPanelContent>
              <mx-editor-rappresentante-fiscale [data]="datiRappresentanteFiscale"></mx-editor-rappresentante-fiscale>
            </ng-template>
          </ngb-panel>
          <ngb-panel title="Cessionario committente">
            <ng-template ngbPanelContent>
              <mx-editor-cessionario-committente [data]="datiCessionario"></mx-editor-cessionario-committente>
            </ng-template>
          </ngb-panel>
          <ngb-panel title="Terzo intermediario">
            <ng-template ngbPanelContent>
              <mx-editor-terzo-intermediario [data]="datiTerzoIntermediario"></mx-editor-terzo-intermediario>
            </ng-template>
          </ngb-panel>
          <ngb-panel title="Soggetto emittente">
            <ng-template ngbPanelContent>
              <form>
                <div class="form-group col-md-3">
                  <label for="mx-editor-soggetto-emittente">Soggetto emittente</label>
                  <select id="mx-editor-soggetto-emittente" name="soggetto-emittente" [(ngModel)]="soggettoEmittente" class="form-control">
                    <option [value]="null"></option>
                    <option value="CC">Cessionario/Committente</option>
                    <option value="TZ">Soggetto Terzo</option>
                  </select>
                </div>
              </form>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle>
        <b>Corpo</b>
      </ng-template>
      <ng-template ngbTabContent>
        <p>Work in progress...</p>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle>
        <b>XML</b>
      </ng-template>
      <ng-template ngbTabContent>
        <mx-editor-xml-loader (loaded)="onXmlLoaded($event)"></mx-editor-xml-loader>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle>
        <b>Errori</b>
      </ng-template>
      <ng-template ngbTabContent>
        <p>Work in progress...</p>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle>
        <b>Versione</b>
      </ng-template>
      <ng-template ngbTabContent>
        <p>Work in progress...</p>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>