<div class="mx-editor">
  <ngb-tabset #editorTabs="ngbTabset">
    <ngb-tab title="Intestazione" id="intestazione">
      <ng-template ngbTabContent>
        <ngb-accordion [closeOthers]="true" activeIds="ngb-panel-0">
          <ngb-panel id="ngb-panel-0" title="Dati trasmissione">
            <ng-template ngbPanelContent>
              <mx-editor-dati-trasmissione [data]="datiTrasmissione"></mx-editor-dati-trasmissione>
            </ng-template>
          </ngb-panel>
          <ngb-panel title="Cedente prestatore">
            <ng-template ngbPanelContent>
              <mx-editor-cedente-prestatore [data]="datiCedente"></mx-editor-cedente-prestatore>
            </ng-template>
          </ngb-panel>
          <ngb-panel title="Rappresentante fiscale">
            <ng-template ngbPanelContent>
              <mx-editor-rappresentante-fiscale [data]="datiRappresentateFiscale"></mx-editor-rappresentante-fiscale>
            </ng-template>
          </ngb-panel>
          <ngb-panel title="Cessionario committente">
            <ng-template ngbPanelContent>
              <mx-editor-cessionario-committente></mx-editor-cessionario-committente>
            </ng-template>
          </ngb-panel>          
        </ngb-accordion>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle>
        <b>Corpo</b>
      </ng-template>
      <ng-template ngbTabContent>
        <p>Work in progress...</p>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle>
        <b>XML</b>
      </ng-template>
      <ng-template ngbTabContent>
        <mx-editor-xml-loader (loaded)="onXmlLoaded($event)"></mx-editor-xml-loader>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle>
        <b>Errori</b>
      </ng-template>
      <ng-template ngbTabContent>
        <p>Work in progress...</p>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle>
        <b>Versione</b>
      </ng-template>
      <ng-template ngbTabContent>
        <p>Work in progress...</p>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>