<form>

  <mat-form-field>
    <mat-select placeholder="Ufficio" name="ufficio" [(ngModel)]="data.ufficio">
      <mat-option [value]="null"></mat-option>
      <mat-option *ngFor="let provincia of provincie" [value]="provincia.sigla">{{ provincia.nome }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="data.numeroREA" name="numeroREA" placeholder="Numero REA">
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="data.capitaleSociale" name="capitaleSociale" placeholder="Capitale sociale">
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Composizione soci" name="socioUnico" [(ngModel)]="data.socioUnico">
      <mat-option [value]="null"></mat-option>
      <mat-option value="SU">Socio unico</mat-option>
      <mat-option value="SM">Socio multipli</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="In liquidazione" name="statoLiquidazione" [(ngModel)]="data.statoLiquidazione">
      <mat-option [value]="null"></mat-option>
      <mat-option value="LS">Sì</mat-option>
      <mat-option value="LN">No</mat-option>
    </mat-select>
  </mat-form-field>
</form>
