<form>
  <mat-form-field>
    <input matInput [(ngModel)]="trasmissione.idPaese" name="idPaese" placeholder="ID Paese">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="trasmissione.idCodice" name="idCodice" placeholder="ID Trasmittente">
  </mat-form-field>
  <mat-divider class="mat-input-divider"></mat-divider>
  <mat-form-field>
    <input matInput [(ngModel)]="trasmissione.progressivoInvio" name="progressivoInvio" placeholder="Progressivo invio">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="trasmissione.formatoTrasmissione" name="formatoTrasmissione" placeholder="Formato trasmissione">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="trasmissione.codiceDestinatario" name="codiceDestinatario" placeholder="Codice destinatario">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="trasmissione.pecDestinatario" name="pecDestinatario" placeholder="PEC destinatario">
  </mat-form-field>
  <mat-divider class="mat-input-divider"></mat-divider>
  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label col-md-3">
      <b>Contatti trasmittente</b>
    </label>
  </div>
  <mat-form-field>
    <input matInput [(ngModel)]="trasmissione.telefono" name="telefono" placeholder="Telefono">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="trasmissione.email" name="email" placeholder="Email">
  </mat-form-field>
</form>
