<form>
    <div class="form-row">
      <div class="form-group col-md-3">
        <label for="mx-input-id-paese">Identificativo Paese</label>
        <input type="text" class="form-control" id="mx-input-id-paese" placeholder="ID Paese" value="IT">
      </div>
      <div class="form-group col-md-9">
        <label for="mx-input-codice-fiscale">Codice fiscale</label>
        <input type="text" class="form-control" id="mx-input-codice-fiscale" placeholder="Codice fiscale">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-3">
        <label for="mx-input-progressivo-invio">Progressivo invio</label>
        <input type="text" class="form-control" id="mx-input-progressivo-invio" placeholder="Progressivo invio">
      </div>
      <div class="form-group col-md-4">
        <label for="mx-input-formato-trasmissione">Formato trasmissione</label>
        <input type="text" class="form-control" id="mx-input-formato-trasmissione" placeholder="Formato trasmissione">
      </div>
      <div class="form-group col-md-5">
        <label for="mx-input-codice-destinatario">Codice destinatario</label>
        <input type="text" class="form-control" id="mx-input-codice-destinatario" placeholder="Codice destinatario">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label col-md-3">
        <b>Contatti trasmittente</b>
      </label>
    </div>
    <div class="form-group row">
      <div class="form-group col-md-3">
        <label for="mx-input-telefono-trasmittente">Telefono</label>
        <input type="text" class="form-control" id="mx-input-telefono-trasmittente" placeholder="Telefono">
      </div>
      <div class="form-group col-md-6">
          <label for="mx-input-email-trasmittente">Email</label>
          <input type="text" class="form-control" id="mx-input-email-trasmittente" placeholder="Email">
        </div>                  
    </div>
  </form>