<app-header></app-header>
<div id="main" style="padding:10px;">
  <router-outlet></router-outlet>
  <app-code-box url="https://github.com/massivex/fattura-elettronica-angular" imageUrl="https://avatars0.githubusercontent.com/u/16877188?s=400&amp;v=4"
    title="massivex/fattura-elettronica-angular">

    <p>Repository GitHub - Modulo di fatturazione elettronica PA/B2B per Angular</p>

  </app-code-box>

  <app-code-box url="https://www.npmjs.com/package/fattura-elettronica-angular" imageUrl="https://upload.wikimedia.org/wikipedia/commons/d/db/Npm-logo.svg"
    title="fattura-elettronica-angular">

    <p>fattura-elettronica-angular - Modulo di fatturazione elettronica PA/B2B per Angular</p>

  </app-code-box>
</div>
<app-footer></app-footer>
