<mat-grid-list cols="3" rowHeight="2:1">
  <mat-grid-tile>
    <a class="fepa-large-link" (click)="caricaXml()"><span class="fa-stack fa-lg" style="height:200px;width:100%"><i
          class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-upload fa-stack-1x"></i></span>
      <div class="green-item top-buffer-md" style="max-width: 250px;">Carica fattura XML</div>
    </a>
  </mat-grid-tile>
  <mat-grid-tile>
    <a class="fepa-large-link" href="https://skynet.sediva.it/register">
      <span class="fa-stack fa-lg" style="height:200px;width:100%">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-folder-open fa-stack-1x" style="padding-left: 10px;"></i>
      </span>
      <div class="green-item top-buffer-md" style="max-width: 250px;">Registro fatture XML</div>
    </a> </mat-grid-tile>
  <mat-grid-tile>
    <a class="fepa-large-link" routerLink="/compila">
      <span class="fa-stack fa-lg" style="height:200px;width:100%"><i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-plus fa-stack-1x"
          style="padding-top:5px;"></i></span>
      <div class="green-item top-buffer-md" style="max-width: 250px;">Compila fattura on-line</div>
    </a>
  </mat-grid-tile>
</mat-grid-list>

<app-upload #uploadXml></app-upload>
