
<form>
  <mat-form-field>
      <input matInput [(ngModel)]="anagrafica.idPaese" name="idPaese" placeholder="Identificativo Paese" value="IT">
  </mat-form-field>
  <mat-form-field>
      <input matInput [(ngModel)]="anagrafica.idCodice" name="idCodice" placeholder="Partita IVA">
  </mat-form-field> 
  <mat-form-field>
      <input matInput [(ngModel)]="anagrafica.codiceFiscale" name="codiceFiscale" placeholder="Codice fiscale">
  </mat-form-field>    
  <mat-form-field>
      <input matInput [(ngModel)]="anagrafica.codEORI" name="codEORI" placeholder="Codice EORI">
  </mat-form-field>    
  <mat-divider class="mat-input-divider"></mat-divider>
  <mat-checkbox class="checkbox-margin" [(ngModel)]="anagrafica.personaFisica" name="personaFisica">Persona fisica</mat-checkbox>
  <mat-form-field *ngIf="!anagrafica.personaFisica">
      <input matInput [(ngModel)]="anagrafica.denominazione" name="Denominazione" placeholder="Denominazione">
  </mat-form-field>
  <mat-form-field *ngIf="anagrafica.personaFisica">
      <input matInput [(ngModel)]="anagrafica.titolo" name="Titolo" placeholder="Titolo">
  </mat-form-field>
  <mat-form-field *ngIf="anagrafica.personaFisica">
      <input matInput [(ngModel)]="anagrafica.nome" name="nome" placeholder="Nome">
  </mat-form-field>
  <mat-form-field *ngIf="anagrafica.personaFisica">
      <input matInput [(ngModel)]="anagrafica.cognome" name="cognome" placeholder="Cognome">
  </mat-form-field>
</form>
